.box{
  padding: 3rem 1.5rem;
}
html, body{height:100%;}

body {
  padding-top: 4rem;
  background:url('../images/headphones.jpg') no-repeat center center fixed;
  background-size: cover;
  }

  .navbar a {
    text-align: center;
  }

.menu {
  display: block;
  text-align: center;
  width: 100%;
}

.content {
  padding-top: 3rem;
}

